doctype html
html(lang='en')
    head
        meta(charset='UTF-8')
        title Document
        link(rel='stylesheet', href='/styles/app.css')
        script(src='/scripts/app.js')
        body
            .magic Its a magic... && some love
