extends _layout
block title
    title SvgHouse
block content
    section.smarthouse.j-svg-house
        .smarthouse-descr
            .smarthouse-descr__item.is-active.j-smart-text(data-id='smarthub')
                .smarthouse-descr__ttl УЗНАЙ
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='lamp')
                .smarthouse-descr__ttl УЗНАЙ1
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='termometer')
                .smarthouse-descr__ttl УЗНАЙ2
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='garage')
                .smarthouse-descr__ttl УЗНАЙ3
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='sensor')
                .smarthouse-descr__ttl УЗНАЙ4
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='plug')
                .smarthouse-descr__ttl УЗНАЙ5
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='camera')
                .smarthouse-descr__ttl УЗНАЙ6
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='lock')
                .smarthouse-descr__ttl УЗНАЙ7
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
            .smarthouse-descr__item.j-smart-text(data-id='water')
                .smarthouse-descr__ttl УЗНАЙ8
                .smarthouse-descr__subttl КАК ЭТО РАБОТАЕТ
                .smarthouse-descr__txt Система SYNERGY позволит вам контролировать происходящее в каждом уголке вашего дома
        .smarthouse__svg
            include _svg/_housesvg
