extends _layout
block title
    title SvgHouse
block content
    section.smarthouse
        .smarthouse__inner
            .smarthouse-descr
                .smarthouse-descr__item
                    .smarthouse-descr__ttl Заголовок
                    .smarthouse-descr__subttl Подзаголовок
                    .smarthouse-descr__txt Что-то тут написано
            .smarthouse__svg.j-svg-color
                include _svg/housesvg
