extends _layout
block title
    title SvgHouse
block content
    section.smarthouse.j-svg-house
        .smarthouse__inner
            .smarthouse-descr
                .smarthouse-descr__item.j-smart-text(data-id='smarthub')
                    .smarthouse-descr__ttl Smarthub
                    .smarthouse-descr__subttl Подзаголовок
                    .smarthouse-descr__txt Что-то тут написано
                .smarthouse-descr__item.j-smart-text(data-id='lamp')
                    .smarthouse-descr__ttl Lamp
                    .smarthouse-descr__subttl Подзаголовок
                    .smarthouse-descr__txt Что-то тут написано
            .smarthouse__svg
                include _svg/housesvg
