// normalize
@import "_reset";

//slick styles
@import "./www/scripts/lib/slick-carousel/slick/slick";
@import "./www/scripts/lib/slick-carousel/slick/slick-theme";

//main
@import "icons";

body {
    background-color: pink;
}

.magic {
    font-size: 28px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
